
.background {
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/wallpaper.jpg");
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  padding: 70px 35px;
  box-sizing: border-box;
  overflow: auto; 
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  color: #f1eeeb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 20px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.exerciseList {
  list-style: none;
  padding-left: 0;
  margin: 0 ;
  max-width: 600px;   
  width: 100%;
}

.routineItem,
.exerciseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  margin: 5px 0;
  /* border-radius: 8px; */
}

.viewButton,
.backButton,
.menuButton {
  padding: 7px 17px;
  background-color: #f1eeeb;
  color: #222;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.viewButton:hover,
.backButton:hover,
.menuButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* .saveButton {
  margin-top: 10px;
  padding: 7px 17px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease, transform 0.2s ease;
} */

/* .saveButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
} */

/* Footer botones */
.back {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* Mensaje vacío */
.empty {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 40px;
}

/* Sección de ejercicios en detalles */
.exercisesSection {
  margin-top: 10px;
}

/* .evaluation {
  margin-top: 10px;
} */

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
}
