.background {
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/wallpaper.jpg");
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  padding: 70px 35px;
  box-sizing: border-box;
  overflow: auto; 
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  color: #f1eeeb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 20px;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.exerciseList {
  list-style: none;
  padding-left: 0;
  margin: 0 ;
  max-width: 600px;   
  width: 100%;
}

.exerciseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  margin: 5px 0;
}

.editButton {
  padding: 7px 17px;
  background-color: #1d884a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.editButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.backButton,
.menuButton {
  padding: 7px 17px;
  background-color: #f1eeeb;
  color: #222;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.backButton:hover,
.menuButton:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.back {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
}

.exercisesSection {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
}
