.mainMenuContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("/images/main-background.webp");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  color: #f1eeeb;
  font-family: Arial, Helvetica, sans-serif;
}

.horizontalMenu {
  position: absolute;
  top: 12px;
  left: 20px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 11px;
  background-color: rgba(51, 51, 51, 0.577);
  padding: 5px 20px;
  border-radius: 8px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: #f1eeeb;
  cursor: pointer;
  padding: 8px 8px;
}

.menuIcon {
  width: 28px;
  height: 28px;
  margin: 0; 
  filter: invert(96%) sepia(6%) saturate(0%) hue-rotate(0deg)
  brightness(97%) contrast(96%);
}

.titleCompany {
  position: absolute;
  top: 80px;
  right: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleCompany h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 1.1;
}

.titleCompany h2 {
  font-size: 1.1rem;
  margin: 4px 0 0 0;
  letter-spacing: 0.2em;
}



